.page {
  width: 1280px;
  margin: 0 auto;
  background: #ffffff;
}

/* Header */
.header {
  height: 64px;
  padding: 0 240px;
  background: #5daed6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.header-left img {
  height: 32px;
}

.header-left span {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.login-btn {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 6px;
}

/* Main */
.main {
  padding: 80px 240px;
}

/* Hero */
.hero {
  background: #f4fbfc;
  border-radius: 20px;
  padding: 48px;
  text-align: center;
}

.hero h1 {
  font-size: 58px;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #35b7c4 0%, #50d49e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  color: #555;
  margin-bottom: 40px;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}

.search-box input {
  width: 420px;
  height: 64px;
  padding: 0 20px;
  border-radius: 20px;
  border: 2px solid #d9d9d9;
  font-size: 20px;
  box-sizing: border-box;
}

.search-btn {
  height: 64px;
  padding: 0 28px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(90deg, #35b7c4 0%, #50d49e 100%);
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

/* Why */
.why {
  margin-top: 100px;
  text-align: center;
  
}

.why-cards {
  display: flex;
  gap: 32px;
  margin-top: 48px;
}

.why-card {
  flex: 1;
  background: #fff;
  border-radius: 20px;
  padding: 40px 24px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
}

.icon {
  font-size: 32px;
  margin-bottom: 16px;
}

h2{
    font-size: 24px;
}

h3 {
    margin-bottom: 15px;

}
/* ===== Reviews ===== */
.reviews {
  margin-top: 120px;
  text-align: center;
}

.reviews-desc {
  color: #9a9a9a;
  margin: 16px 0 56px;
}

.review-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.review-card {
  background: #ffffff;
  border-radius: 18px;
  padding: 24px 26px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  text-align: left;
}

.review-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.review-user img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.user-info strong {
  display: block;
  font-size: 14px;
}

.user-info span {
  font-size: 12px;
  color: #9aa0a6;
}

.stars {
  color: #f5b400;
  font-size: 14px;
}

.review-divider {
  height: 1px;
  background: #e5e7eb;
  margin: 14px 0;
}

.review-text {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 12px;
}

.hospital {
  font-size: 12px;
  color: #9aa0a6;
}

/* Footer */
.footer {
  margin-top: 120px;
  padding: 40px;
  text-align: center;
  color: #666;
}
